.mainbox {
    width: 720px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, #2D2C32 23.44%, #41434A 100%);
    position: relative;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.sendreports {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 60px auto 15px auto;
    width: calc(100% - 25px*2);
}

.more {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #A7A7A7;
    background: none;
    font-family: Montserrat;
    display: flex;
    justify-content: end;
    padding: 0;
    text-decoration: none;
    gap: 10px;
    align-items: center;
    margin: 0px 25px auto auto;
}

.more:hover {
    opacity: 0.7;
}

.datepicker {
    display: flex;
    align-items: center;
    margin: 20px auto 0px 30px;
    padding: 0;
    gap: 12px;
}

.date {
    color: #A59557;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 7px;
    background: linear-gradient(270deg, #41444B 0%, #2D2C32 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {
    .mainbox {
        width: 100%;
        height: 650px;
        max-width: 650px;
        margin: auto;
        justify-content: center;
    }

    .sendreports {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .datepicker {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto 20px auto;
        padding: 0;
        gap: 12px;
    }

    .status {
        position: relative;
        top: 60px;
        right: 10px;
    }

}


@media (min-width: 992px) and (max-width: 1480px) {
    .mainbox {
        width: 100%;
        height: 630px;
    }

    .sendreports {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 40px auto 0px auto;
    }

    .more {
        margin: 20px 20px 20px auto;
    }
}