.mainbox {
    max-width: 650px;
    width: 650px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, #2D2C32 23.44%, #41434A 100%);
    position: relative;
    margin: 0px;
    font-family: Montserrat;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #A7A7A7;
    font-family: Montserrat;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: calc(100% - 2*25px);
    padding: 0;
    margin: 10px auto 0px auto;
    align-items: center;
    height: 50px;
}

.chart {
    width: calc(100% - 2*20px);
    height: calc(100% - 2*40px);
    padding: 0;
    margin: 0px auto 10px auto;
}

@media (max-width: 767px) {
    .mainbox {
        width: 100%;
    }
}