.mainbox {
    width: 470px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, #2D2C32 23.44%, #41434A 100%);
    position: relative;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #A7A7A7;
    font-family: Montserrat;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: calc(100% - 2*25px);
    padding: 0;
    margin: 10px auto;
    align-items: center;
    height: 55px;
}

.btn {
    background: none;
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
}

.img {
    border: none;
}


.img:focus {
    border: none;
    outline: none;
}


.btn:focus {
    border: none;
    outline: none;
}


.btn:hover {
    transform: rotate(90deg);
    transition-duration: 1.5s;
    opacity: 0.7;
    cursor: pointer;
}


.charts {
    width: calc(100% - 2*20px);
    margin: 10px 0px 0px 0px;
}

.bar {
    width: 100%;
    display: flex;
    height: 50px;
    position: relative;
    justify-content: center;
    padding: 0;
}

.titlebar {
    color: #A7A7A7;
    position: absolute;
    font-family: Montserrat;
    font-size: 12px;
    top: 0px;
    left: 10px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto 10px 0;
    padding: 0;
}

.startvalue {
    position: absolute;
    color: #A7A7A7;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    top: 0px;
    right: 10px;
    padding: 0;
    margin: 0 auto 10px 0;
}

.current {
    color: #A59557;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

@media (max-width: 767px) {
    .mainbox {
        width: 100%;
        max-width: 650px;
    }
}