.mainbox {
    width: 100%;
    height: 240px;
    flex-shrink: 0;
    border-radius: 22px;
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    width: calc(100% - 2*15px);
    height: 35px;
    padding: 0;
    margin: 15px auto 0px auto;
    justify-content: space-between;
    color: #CACACA;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
}

.sectiontitle {
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D5E70;
    /* margin: auto auto auto 10px; */
    padding: 0px 15px 0px 15px;
    height: 20px;
    font-size: 12px;
}

.maininfo {
    display: flex;
    flex-direction: row;
    width: calc(100% - 2*15px);
    margin: 15px auto auto auto;
    padding: 0;
    gap: 15px;
}

.iteminfo {
    width: 100%;
}

.icon {
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 0;
}

.subtitle {
    text-transform: uppercase;
    color: var(--gold);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 16px;
    padding: 0;
    margin: 10px auto 10px auto;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    word-wrap: break-word;
    overflow: hidden;
    height: 70px;
    font-family: 'Montserrat';
}

.cover {
    width: 132px;
    height: 132px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #1C1C21 / cover no-repeat;
    border-radius: none;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.link {
    border-radius: 10px;
    text-decoration: none;
    background: #3E4B5A;
    background-blend-mode: luminosity;
    display: flex;
    width: 100%;
    height: 31px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 12px;
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #CACACA;
}

.link:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 380px) {
    .mainbox {
        width: 100%;
        height: 240px;
        position: relative;
    }

    .cover {
        width: 100px;
        height: 100px;
    }

    .link {
        position: absolute;
        width: calc(100% - 2*10px);
        left: 10px;
        bottom: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mainbox {
        width: 400px;
        height: 240px;
        position: relative;
    }
}

@media (min-width: 992px) and (max-width: 1681px) {
    .mainbox {
        width: 100%;
        height: 240px;
        position: relative;
    }

    .cover {
        width: 100px;
        height: 100px;
    }

    .link {
        position: absolute;
        width: calc(100% - 2*10px);
        left: 10px;
        bottom: 25px;
    }
}