.mainbox {
    display: flex;
    flex-direction: column;
    max-width: 1150px;
    width: 100%;
    justify-content: center;
    margin: auto auto 20px auto;
}

.title {
    color: #CACACA;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    /* justify-content: center;
    align-items: center; */
    /* margin: 25px auto 20px auto; */
    /* overflow: scroll; */
    /* width: calc(100% - 2*35px); */
    /* height: 300px; */
    /* overflow: hidden; */
    gap: 30px;
}

@media (max-width: 380px) {
    .grid {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding: 0px;
        justify-content: center;
        margin: 0px 0px 0px 0px;
    }

    .title {
        color: #CACACA;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
    }
}

@media (min-width: 381px) and (max-width: 767px) {
    .grid {
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: scroll;
        padding: 0px;
        justify-content: center;
        margin: 0px auto 0px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding: 0px;
        justify-content: center;
        margin: 0px auto 0px auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        gap: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1680px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        gap: 20px;
    }
}

@media (min-width: 1681px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: start;
        padding: 0;
        margin: auto auto auto 0px;
        gap: 20px;
    }
}