.mainbox {
    width: 470px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--background-gradient);
    position: relative;
    margin: 0px;
    font-family: Montserrat;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #A7A7A7;
    font-family: Montserrat;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: calc(100% - 2*25px);
    padding: 0;
    margin: 10px auto;
    align-items: center;
    height: 55px;
}

.charts {
    display: flex;
    margin: 0px auto 20px auto;
    flex-wrap: wrap;
    gap: 40px;
    border-bottom: #A7A7A7 solid 1px;
    height: 150px;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    width: 70px;
    height: 70px;
    font-weight: 400;
    font-size: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.subtitle {
    color: #A7A7A7;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 20px auto 0px auto;
}

.values {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 5px;
    margin: 5px auto;
    align-items: start;
}

.current {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #A59557;
    padding: 0;
    margin: auto;
}

.target {
    color: #A7A7A7;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin: auto;
}

.bar {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    padding: 0;
    width: calc(100% - 2*25px);
    position: relative;
}

.titlebar {
    color: #A7A7A7;
    position: absolute;
    font-family: Montserrat;
    font-size: 12px;
    top: 0px;
    left: 10px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto 10px 0;
    padding: 0;
}

.startvalue {
    position: absolute;
    color: #A7A7A7;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    top: 0px;
    right: 10px;
    padding: 0;
    margin: 0 auto 10px 0;
}

.current {
    color: #A59557;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

@media (max-width: 767px) {
    .mainbox {
        width: 100%;
        height: 530px;
        max-width: 650px;
    }

    .charts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        height: 60%;
        margin: 0px auto 20px auto;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 80px;
        border-bottom: #A7A7A7 solid 1px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .mainbox {
        width: 100%;
        max-width: 650px;
    }
}

@media (min-width: 992px) and (max-width: 1480px) {
    .mainbox {
        width: 100%;
        height: 500px;
    }

    .item {
        width: 70px;
        height: 70px;
        font-weight: 400;
        font-size: 12px;
    }

    .charts {
        display: grid;
        justify-content: center;
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        height: 60%;
        row-gap: 5px;
        column-gap: 5px;
    }

    .chart {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}