.mainbox {
    max-width: 500px;
    min-height: 240px;
    flex-shrink: 0;
    border-radius: 22px;
    /* background: rgba(255, 255, 255, 0.1); */
    background: var(--background-gradient);
    margin: auto;
    justify-content: center;
}

.firstinfo {
    width: 100%;
    display: flex;
    margin: auto;
}

.avatarandname {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
}

.maininfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    justify-content: center;
    font-family: Montserrat;
}

.weights {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    font-family: Montserrat;
    width: 50%;
}

.avatarbox {
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 100%;
    margin: 0 auto 0 auto;
    border: var(--border-light);
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding: 0;
}

.username {
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px auto 0px auto;
}

.info {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    /* color: #A59557; */
    color: #C8AB58;
    display: flex;
    flex-direction: row;
    margin: 10px auto 0px auto;
}

.delta {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #CACACA;
}

.delta:last-child {
    border: none;
}

.img {
    width: 12px;
    height: 12px;
    overflow: hidden;
}

.btns {
    display: flex;
    width: 100%;
    padding: 0;
    gap: 20px;
    justify-content: center;
}

.link {
    border-radius: 10px;
    text-decoration: none;
    /* background: rgba(45, 44, 50, 0.72); */
    /* background: #242424; */
    background: #3E4B5A;
    background-blend-mode: luminosity;
    width: 40%;
    display: flex;
    height: 31px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #CACACA;
}

.link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.smalltext {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
}

.h5 {
    padding: 0 5px;
    font-weight: 400;
    font-size: 12px;
}


@media (max-width: 767px) {
    .mainbox {
        width: 100%;
        height: 240px;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mainbox {
        width: 400px;
        height: 240px;
        position: relative;
    }
}

@media (min-width: 992px) {
    .mainbox {
        width: 100%;
        height: 240px;
        position: relative;
    }
}

@media (min-width: 1680px) {
    .mainbox {
        width: 365px;
        height: 240px;
        position: relative;
    }
}