#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #1C1C21;
}

.app {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.conttent {
  width: 100%;
  /* padding: 40px 30px 30px 30px; */
  margin: 0;
  overflow: scroll;
}

@media (max-width: 767px) {
  .conttent {
    /* padding: 10px 10px 10px 10px; */
    margin: 0px auto 50px auto;
    justify-content: center;
  }
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #1C1C21;
}

::-webkit-scrollbar-thumb{
  background: #A7A7A7;
} */