#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #1C1C21;
}

.app {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.conttent {
  width: 100vw;
  padding: 40px 30px 30px 30px;
  margin: 0;
  overflow: scroll;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #1C1C21;
}

::-webkit-scrollbar-thumb{
  background: #A7A7A7;
} */