#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.test {
  display: flex;
  gap: 25px;
}

.calories {
  color: #05CD99;
}

.steps {
  color: #3A82F7;
}

.kg {
  color: #EB4B62;
}

.fats {
  color: #F1A33B;
}