@font-face {
  src: url(./fonts/BlenderPro/BlenderPro-Heavy.woff2) format('woff2'),
    url(./fonts/BlenderPro/BlenderPro-Heavy.woff) format('woff');
  font-family: 'BlenderPro';
  font-style: bold;
  font-weight: 700;
}

@font-face {
  src: url(./fonts/Montserrat/Montserrat-Medium.woff2) format('woff2'),
    url(./fonts/Montserrat/Montserrat-Medium.woff) format('woff');
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url(./fonts/Montserrat/Montserrat-Bold.woff2) format('woff2'),
    url(./fonts/Montserrat/Montserrat-Bold.woff) format('woff');
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'BlenderPro',
    sans-serif;
  font-weight: 400;
  color: #CACACA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1C1C21;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
}