.item {
    text-decoration: none;
    width: 215px;
    height: 45px;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: start;
    cursor: pointer;
    gap: 15px;
    border-radius: 5px;
    transition: left 3s;
}

.item:hover {
    background: linear-gradient(90deg, #41444B 0%, rgba(65, 68, 75, 0.00) 100%);
}

.active {
    background: linear-gradient(90deg, #41444B 0%, rgba(65, 68, 75, 0.00) 100%);
}

.icon {
    width: 25px;
    height: 25px;
    margin: auto 0px auto 15px;
    border: none;
}

.title {
    color: #CACACA;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 767px) or (max-height: 500px) {
    .item {
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .title {
        display: none;
    }

    .icon {
        width: 25px;
        height: 25px;
        margin: auto;
    }

    .item:hover {
        background: #41444B;
    }

    .active {
        background: #41444B;
    }
}